 /* ######### Alphabetical menu ############ */
.alphabet-bar {
  justify-content: space-around;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.letter-button {
  cursor: pointer; /* Change the cursor to a hand when hovering */
  padding: 5px;
  font-size: 18px;
}

.letter-button:hover {
  background-color: #673AB7;
  color: white;
}

 /* ######### artists list ############ */
.title {
  font-size: 24px;
  font-weight: 600;
  color: #673AB7; /* Or any color you want */
}

.letter-title {
  font-size: 22px;
  color: #3F51B5; /* Or any color you want */
}

.artists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Define the grid layout */
  grid-gap: 20px; /* Gap between grid items */
}

.artist-item {
  font-size: 16px;
  color: #080808; /* Amber */
}

@media (max-width: 768px) {
  .artists-grid {
    grid-template-columns: 1fr; /* One column on small screens */
  }
}



/* ###################### */
/* .title {
  font-size: 24px;
  font-weight: 600;
  color: #673AB7;
}

.letter-title {
  font-size: 22px;
  color: #3F51B5;
}

.artists-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.artist-item {
  flex: 1 0 10%;
  margin: 10px;
  font-size: 16px;
  color: #080808;
} */

