<mat-toolbar color="primary">
  <a mat-button routerLink="/home" routerLinkActive="active-link" color="accent">Home</a>
  <a mat-button routerLink="/albums" routerLinkActive="active-link" color="accent">Albums</a>
  <a mat-button routerLink="/artists" routerLinkActive="active-link" color="accent">Artists</a>
  <a mat-button routerLink="/about" routerLinkActive="active-link" color="accent">About</a>
</mat-toolbar>

<!-- <mat-toolbar color="primary">
  <a mat-button routerLink="/home" routerLinkActive="active-link">Home</a>
  <a mat-button routerLink="/albums" routerLinkActive="active-link">Albums</a>
  <a mat-button routerLink="/artists" routerLinkActive="active-link">Artists</a>
  <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
</mat-toolbar> -->


<!-- <nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/albums" routerLinkActive="active">Albums</a></li>
    <li><a routerLink="/artists" routerLinkActive="active">Artists</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
</nav> -->
<!-- <nav>
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="albums">Albums</a></li> <li><a href="artists">Artists</a></li>
    <li><a href="about">About</a></li>
  </ul>
</nav> -->
